.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.input {
  width: inherit;
  padding: 10px;
  background-color: var(--bg);
  outline: none;
  border: 1px solid #303030;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  color: var(--main);
  margin: 20px 0;
  padding: 20px;
  transition: 0.1s linear;
}

.input:hover,
.content:hover {
  border: 1px solid #5c5c5c;
}

.input:focus,
.content:focus {
  border: 1px solid var(--main);
}

.content {
  width: inherit;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  color: var(--main);
  background-color: var(--bg);
  outline: none;
  border: 1px solid #303030;
  padding: 20px;
  margin: 20px 0;
  resize: none;
  height: 500px;
}

.create {
  padding: 15px;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  outline: none;
  color: var(--main);
  background: var(--bg);
  border: solid 2px var(--main);
  transition: 0.1s linear;
}

.create:hover {
  background-color: var(--main);
  color: var(--bg);
  cursor: pointer;
}
