.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.link:hover {
  text-decoration: underline;
}
